@font-face {
  font-family: 'CozetteVector';
  src: url('/fonts/CozetteVector.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: CozetteVector  
}

html {
  background-color: #11173d;
  color: #d5d6d8;
  font-size: clamp(15px, 3.5vw, 20px);
}

a, .highlight {
  color: #8ccdf2
}

a:visited, .highlight2 {
  color: #b28cf2
}

.head {
  height: 100vh;
  padding: 0
}

.body {
  height: 90%;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.body > div {
  padding: 30px
}


@media (min-width: 768px) {
  .left, .right {
    display: block;
    width: 15%;
    min-width: 15vw
  }
  .browse, .post {
    width: 70%;
  }
  .logo {
   font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .left, .right {
    display: none !important;
  }
  .browse, .post {
    width: 100%
  }
  .logo {
    font-size: clamp(2rem, 6.25vw, 2.5rem);
  }
}

@media (min-width: 575px) {
  form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    z-index: 1;
  }
}

@media (max-width: 574px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  form {
    width: 90%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 2rem;
  }
}

form > * {
  font-size: 1rem;
}

.title {
  font-size: 2.5rem;
  display: block !important;
}

.browse, .post {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto
}

.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.home > div {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 30px
}

.list-header {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.label {
  font-size: 2rem
}

.cards {
  display: flex;
  padding: 10px 0;
  gap: 10px;
  overflow-x: scroll;
}

.list-entry {
  display: grid;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid #d5d6d8 2px;
  border-radius: 10px;
  gap: 5px
}

.card > div {
  font-size: 1.25rem
}

.card-title {
  font-size: 1.5rem !important
}

.post-header {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.metadata {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;  /* allows items to wrap onto multiple lines */
}

.metadata > div {
  white-space: nowrap;  /* prevent line break */
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px 0;
}

.tag {
  padding: 5px 10px;
  border-radius: calc(5px + 0.5rem) /* half the height */
}

.tree {
  padding: 10px;
  font-size: 1.25rem
}

.tags-panel {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.tags-column {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.series-row {
  font-size: 1.25rem
}

.underline {
  text-decoration: underline;
}

.header {
  position: relative;
  padding: 10px 0;
  height: 60px; /* or whatever fixed height you want */
}

.searchbar {
  flex: 1;
  min-height: 40px;
  height: 100%;
  max-height: 50px;
  background-color: inherit;
  border-radius: 999px;
  border: solid #d5d6d8 2px;
  padding: 0 20px;
  color: #d5d6d8;
}

button {
  background-color: #d5d6d8;
  border: solid #d5d6d8 2px;
  border-radius: 999px;
}

.logo, .title, .label, .card-title {
  font-weight: bold;
}

.last-word {
  display: inline-block;    /* so it behaves like a word but can have width */
  min-width: 330px;         /* reserve space for the longest last word */
  white-space: nowrap;      /* keep the word unbroken */
}

.description {
  font-size: 1.25rem
}
